# Always use this site env variable to distinguish between environments
NUXT_SITE_ENV=development

# Uncomment this line if you want to set the site URL
NUXT_SITE_URL
NUXT_SITE_NAME=

NUXT_PUBLIC_MOOVEE_API_KEY=
NUXT_PUBLIC_COOKIEBOT_ID=
#NUXT_PUBLIC_COOKIESCRIPT_ID=
NUXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=